<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Praticamente Incorreto</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style>
    @import url("assets/css/pi.css")
  </style>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="dist/app.js"></script>
</head>

<body id="HOME" data-spy="scroll" data-target=".navbar" data-offset="50" ng-app='praticamenteIncorreto' ng-controller="screenInit">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#HOME">PraticamenteIncorreto</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li ng-repeat="item in menu"><a href="#{{item}}" >{{item}}</a></li>
            </ul>
          </div>
        </div>
        </nav>
    </header>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="assets/imgs/pecas_graficas/logoteste.jpg" alt="Los Angeles">
            <div class="carousel-caption">
              <h3>Tes  te!</h3>
              <p>Esse é o texto de nossa logo!</p>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
    </div>

    <!-- Container (The Band Section) -->
    <div id="BAND" class="container text-center">
      <h3>A banda</h3>
      <p><em>Nós (obviamente ou não, já que óbvio é uma questão de ponto de vista) amamos música!</em></p>
      <p>{{banda.descricao}}</p>
      <!-- H U E --><br> 
      <div class="row">
        <div class="col-sm-4" ng-repeat=" integrante in banda.integrantes" >
          <p class="text-center"><strong>{{integrante.nome}}</strong></p><br>
          <a href="#{{integrante.nome}}" data-toggle="collapse">
            <img src="assets/imgs/participantes/{{integrante.nome}}.jpg" class="img-circle person" alt="{{integrante.nome}}">
          </a>
          <div id="{{integrante.nome}}" class="collapse">
            <p>{{integrante.papeis}}</p>
            <p>{{integrante.descricao}}</p>
            <p>Membro desde {{integrante.anoEntrada}}</p>
          </div>
        </div>
      </div>
    </div>


    <!-- Container (TOUR Section) -->
    <div id="TOUR" class="bg-1">
      <div class="container">
        <h3 class="text-center">DATA DOS PRÓXIMOS SHOWS</h3>
        <div class="row text-center">
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="assets/imgs/lugares/pub a.jpg" alt="Paris" width="400" height="300">
              <p><strong>Barzinho A</strong></p>
              <p>Sexta, 25 de maio de 2017</p>
              <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="assets/imgs/lugares/pub b.jpg" alt="New York" width="400" height="300">
              <p><strong>New York</strong></p>
              <p>Saturday 28 November 2015</p>
              <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="assets/imgs/lugares/pub a.jpg" alt="San Francisco" width="400" height="300">
              <p><strong>San Francisco</strong></p>
              <p>Sunday 29 November 2015</p>
              <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Container (Contact Section) -->
    <div id="CONTACT" class="container">
      <h3 class="text-center">Contato</h3>
      <p class="text-center"><em>Nós adoramos a energia e as mensagens de todos vocês! Mandem mais para a gente!</em></p>

      <div class="row">
        <div class="col-md-4">
          <p><span class="glyphicon glyphicon-map-marker"></span> Belo Horizonte, Brasil</p>
          <p ng-repeat="integrante in banda.integrantes"><span class="glyphicon glyphicon-phone"></span> {{integrante.nome}} : {{integrante.tel}}</p>
          <p><span class="glyphicon glyphicon-envelope"></span> Email: {{banda.email}}</p>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
            </div>
          </div>
          <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
          <br>
          <div class="row">
            <div class="col-md-12 form-group">
              <button class="btn pull-right" type="submit">Send</button>
            </div>
          </div>
        </div>
      </div>
      <!-- <h3 class="text-center">From The Blog</h3>
      <ul class="nav nav-tabs">
        <li ng-repeat="integrante in banda.integrantes" ><a data-toggle="tab" href="#{{integrante.nome}}">{{integrante.nome}}</a></li>
      </ul>

      <div class="tab-content" ng-repeat="integrante in banda.integrantes" >
        <div id="{{integrante.nome}}" class="tab-pane fade">
          <h2> {{integrante.nome}}, {{integrante.papeis}} </h2>
          <p>{{integrante.descricao}}</p>
        </div>
      </div> -->
    </div>

    <!-- Footer -->
    <footer class="text-center">
      <a class="up-arrow" href="#HOME" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a><br><br>
      <p>Bootstrap Theme Made By <a href="https://www.w3schools.com" data-toggle="tooltip" title="Visit w3schools">www.w3schools.com</a></p>
    </footer>



</body>
</html>
