<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Praticamente Incorreto</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!--Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- CSS -->
  <style>
    @import url("assets/css/pi.css")
  </style>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

  <!--Frameworks -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  <!-- JS -->
  <script src="dist/app.js"></script>
</head>

<body id="HOME" data-spy="scroll" data-target=".navbar" data-offset="50" ng-app='praticamenteIncorreto' ng-controller="screenInit">
    <!-- Navbar Section -->
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" id="menu" class="navbar-toggle blackbtn" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#HOME">PraticamenteIncorreto</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li ng-repeat="item in menu" class= "menu-item"><a href="#{{item}}" >{{item}}</a></li>
            </ul>
          </div>
        </div>
        </nav>
    </header>

    <!-- Carousel Section -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="assets/imgs/pecas_graficas/logo.jpg" alt="Logo" width="1200" height="700">
            <div class="carousel-caption">
              <h3>Teste!</h3>
              <p>Esse é o texto de nossa logo!</p>
            </div>
          </div>
          <div class="item" >
            <img src="assets/imgs/pecas_graficas/logoteste.jpg" alt="LogoTeste" width="1200" height="700"> 
            <div class="carousel-caption">
              <h3>Tes  te!</h3>
              <p>Esse é o texto de nossa logo!</p>
            </div>
          </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
    </div>

    <!-- Container (The Band Section) -->
    <div id="BANDA" class="container text-center">
      <h3>A banda</h3>
      <p><em>Nós (obviamente ou não, já que óbvio é uma questão de ponto de vista) amamos música! </em></p>
      <p>{{welcome}}</p>
      <!-- H U E --><br> 
      <div class="row">
        <div class="col-sm-4" ng-repeat=" integrante in banda.integrantes" >
          <a href="#{{integrante.nome}}" data-toggle="collapse">
            <img src="assets/imgs/participantes/{{integrante.nome}}.jpg" class="img-circle person" alt="{{integrante.nome}}">
          </a>
          <p class="text-center"><strong>{{integrante.nome}}</strong></p><br>
          <div id="{{integrante.nome}}" class="collapse">
            <p>{{integrante.papeis}}</p>
            <p>{{integrante.descricao}}</p>
            <p>Membro desde {{integrante.anoEntrada}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Container (Tour 'Scheduler' Section) -->
    <div id="SHOWS" class="bg-1">
      <div class="container">
        <h4 class="text-center">Shows</h4>
        <div class="row text-center">
          <div class="col-sm-4 show-box" ng-repeat="show in shows">
            <div class="thumbnail">
              <img src="./assets/imgs/lugares/{{show.img}}" alt="{{show.nome}}" width="400" height="300">
              <p><strong>{{show.titulo}}</strong></p>
              <p>{{show.data}}</p>
              <button class="btn" data-toggle="modal" data-target="#myModal">Mais</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Container (Contact Section) -->
    <div id="CONTATO" class="container">
      <h3 class="text-center">Contato</h3>
      <p class="text-center"><em>Nós adoramos a energia e as mensagens de todos vocês! Mandem para a gente!</em></p>

      <div class="row">
        <div class="col-md-4">
          <p><span class="glyphicon glyphicon-map-marker"></span> Belo Horizonte, Brasil</p>
          <p ng-repeat="integrante in banda.integrantes"><span class="glyphicon glyphicon-phone"></span> {{integrante.nome}} : {{integrante.tel}}</p>
          <p><span class="glyphicon glyphicon-envelope"></span> Email: {{banda.email}}</p>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
            </div>
          </div>
          <textarea class="form-control" id="comments" name="comments" placeholder="Comentários" rows="5"></textarea>
          <br>
          <div class="row">
            <div class="col-md-12 form-group">
              <button class="btn pull-right" type="submit">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="text-center">
      <a class="up-arrow" href="#HOME" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a>
    </footer>
</body>
</html>
